<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div id="container" class="clearfix" ng-controller="LocationCtrl">
            <div id="form-panel">
                <form ng-submit="addLocation()">
                    <input type="text" name="location" placeholder="Format: City, State" ng-model="locationName"><button type="submit" value="add">Submit</button>
                </form>
                <br>
                Select a city to check its weather.
                <ul>
                    <li ng-repeat="location in locations"><a href="" ng-click="displayLocation(location)">{{ location.name }}</a></li>
                </ul>
            </div>
             <div id="location-panel" ng-show="currentLocation">
                <div>
                    <div>
                        <h1>{{ currentLocation.name }}</h1>
                        <ul id="display-type" class="clearfix">
                            <li>Hourly Forecast</li>
                            <li>10-Day Forecast</li>
                        </ul>
                        <div>
                            <ul id="hourly-forecast">
                                <li class="clearfix">
                                    <div class="dates">
                                        <span class="time"></span>
                                        <!-- ko if: shouldShowDay -->
                                        <span class="formatted-date"></span>
                                        <!-- /ko -->
                                    </div>
                                    <span class="temperature"></span>
                                    <div class="condition-wrapper">
                                        <img  />
                                        <span class="condition"></span>
                                    </div>
                                    <div class="humidity">
                                        <span class="label">Humidity: </span>
                                        <span></span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div data-bind="visible: $parent.displayType() == '10day'">
                            <ul id="tenday-forecast" data-bind="foreach: tenDayForecast">
                                <li>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <img />
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="js/vendor/angular.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
